<nz-layout class="app-layout" *ngIf="userService.currentUserValue">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard" *ngIf="currentUser.role != roles.MARKET_RISK_REPORT_VIEWER">
        <ul>
          <li nz-menu-item nzMatchRouter *ngIf="currentUser.role == roles.IT_USER_ADMIN">
            <a [routerLink]="['/profile']" routerLinkActive="active">User Management</a>
          </li>
          <li nz-menu-item nzMatchRouter *ngIf="currentUser.role == roles.IT_SYSTEM_ADMIN">
            <a [routerLink]="['/system-var']" routerLinkActive="active">System Parameters</a>
          </li>
          <li nz-menu-item nzMatchRouter *ngIf="currentUser.role == roles.MARKET_RISK_ADMIN">
            <a [routerLink]="['/market-risk-var']" routerLinkActive="active">Market Risk Parameters</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Report" nzIcon="profile" *ngIf="currentUser.role == roles.MARKET_RISK_REPORT_VIEWER">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/report']" routerLinkActive="active">Report</a>
          </li>
        </ul>
      </li>
    </ul>
    <button class="sidebar-bottom" nz-button nzType="primary" nzBlock (click)="logout()">Logout</button>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<nz-layout class="app-layout" *ngIf="!userService.currentUserValue">
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
